<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card register">
        <div class="card d-flex align-items-start justify-content-between">
          <div class="card-body card_add-page">
            <form
              class="contact_form"
              name="editForm"
              novalidate
              ng-submit="register(editForm.$valid)"
              ng-show="!ctrl.submited"
            >
              <div
                class="textintro label_container"
              >
                <h1 class="card-title text-dark">Edit a contact</h1>
                <p>
                  To edit selected contact please change following parameters
                </p>
              </div>

              <fieldset class="fieldset_container">
                <input
                  class="form_field"
                  type="text"
                  name="name"
                  ng-minlength="3"
                  ng-maxlength="20"
                  ng-model="ctrl.contactData.name"
                  ng-pattern="ctrl.checkName"
                  ng-required="true"
                />
                <div
                  ng-show="editForm.name.$invalid && editForm.name.$touched"
                  ng-messages="editForm.name.$error"
                >
                  <p class="hint" ng-message="required">
                    You should fill out this field
                  </p>
                  <p class="hint" ng-message="minlength">
                    You should type in at least 3 characters
                  </p>
                  <p class="hint" ng-message="maxlength">
                    You should type in less than 20 characters
                  </p>
                </div>
                <input
                  class="form_field"
                  type="phone"
                  name="phone"
                  ng-model="ctrl.contactData.phone"
                  ng-pattern="ctrl.checkNumber"
                  ng-required="true"
                />
                <p
                  class="hint"
                  ng-show="editForm.phone.$invalid && editForm.phone.$touched"
                >
                  You should type a valid phone number like +### (##) ###-##-##
                </p>
              </fieldset>

              <button
                class="btn create_btn"
                type="button"
                ng-click="ctrl.handleEditContact()"
                ng-disabled="editForm.$invalid"
              >
                <span>Submit</span>
              </button>
              <p class="hint" ng-show="notValidAttempt">
                You should fill up the form before submiting
              </p>
            </form>

            <div ng-show="ctrl.submited" class="succes_info">
              <h2>
                Contact data has been saved.
              </h2>
              <a ui-sref="home">Go back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
