<li
  class="row list-group-item contact_item"
  ng-repeat="item in PhonebookCtrl.data | DataFilter : PhonebookCtrl.query : PhonebookCtrl.checked | orderBy: 'name' track by item.id"
  ng-class="PhonebookCtrl.highlight(item.name[0])"
>
  <div class="col">
    {{ item.name }}
  </div>
  <div class="col" ng-show="PhonebookCtrl.checked">
    {{ item.phone }}
  </div>
  <div class="col container_edition">
    <span class="edit_btn" ng-click="">
      <a class="badge" ui-sref="edit({ contactId: item.id })">
        &#9998;
      </a>
    </span>
    <span class="delete_btn" ng-click="PhonebookCtrl.deleteContact(item)">
      &#10005;
    </span>
  </div>
</li>
