<!DOCTYPE html>
<html lang="en" ng-app="PhonebookApp">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Phonebook</title>

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

  <link href="main.css" rel="stylesheet"></head>
  <body>
    <header>
      <nav class="navbar bg-primary text-white">
        <div class="container">
          <h1 class="navbar-brand mb-0 h1">Phonebook</h1>
        </div>
      </nav>
    </header>
    <main>
      <article class="container" ng-controller="PhonebookCtrl">
          <div class="card phonebook_container">
            <div class="card-body">

              <div class="card">
                <div class="card-body controller_container">

                  <div class="search_container">
                    <div>
                      <p class="label_search">Search for a contact</p>
                      <input class="input_query" type="text" placeholder="Type a query..." ng-model="query">
                    </div>
  
                    <div class="checkbox_container">
                      <input class="checkbox" type="checkbox" ng-model="checked">
                      <div>
                        Show phone numbers
                      </div>
                    </div>
                  </div>

                  <div class="create-contact_container">
                    <p class="label_search">Add a new contact</p>
                    <input class="input_query" type="text" placeholder="Name" ng-model="nameNew">
                    <input class="input_query" type="text" placeholder="Phone" ng-model="phoneNew">
                    <button class="btn create_btn" type="button" ng-click="addContact()"><span>Create</span></button>
                  </div>

                </div>
              </div>

              <div class="table_container">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col" ng-show="checked">Phone number</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in data | DataFilter : query : checked" ng-class="highlite(item.name[0])">
                      <td>
                        {{item.name}}
                      </td>
                      <td class="phone_td" ng-show="checked">
                        <span>{{item.phone}}</span>
                      </td>
                      <td>
                        <span class="delete_btn" ng-click="deleteContact(item)">&#10005;</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
      </article>
    </main>
    <footer class="footer bg-primary text-white">
      <div class="container text-center">
        © Awesome Mentor 2019
      </div>
    </footer>

  <script type="text/javascript" src="app.js"></script></body>
</html>
