$heighNavFooter: 60px;

.navbar {
  height: $heighNavFooter;
}

main {
  padding-top: 20px;
}

.phonebook_container {
  margin: 0 auto;
}

.input_query {
  width: 300px;
}

.table {
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $heighNavFooter;
  line-height: $heighNavFooter;
  background-color: #f5f5f5;
}
