$heighNavFooter: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $heighNavFooter;
}

.navbar {
  height: $heighNavFooter;
}

main {
  padding: 20px 0;
}

.phonebook_container {
  margin: 0 auto;
}

.input_query {
  width: 250px;

  @media screen and (max-width: 366px) {
    width: 200px;
  }
}

.contact_item {
  display: flex;
  justify-content: flex-start;
}

.checkbox_container {
  margin-top: 10px;
  display: flex;
  align-items: baseline;

  input {
    display: inline-block;
    margin-right: 10px;
  }
}

.controller_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.create_btn {
  margin-top: 20px;
}

.table_list {
  padding: 0;
  height: 55vh;  
  overflow-y: auto;
  overflow-x: hidden;
}

.container_edition {
  display: flex;
  justify-content: flex-end;
  user-select: none;

  span {
    display: inline-block;
  }

  .edit_btn {
    margin-right: 20px;
    cursor: pointer;
  }
}


.table_header {
  color: #fff;
  background-color: #007BFF;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $heighNavFooter;
  line-height: $heighNavFooter;
}

.blue_field {
  background-color: rgb(224, 249, 255);
}

.red_field {
  background-color: rgb(255, 230, 230);
}

.delete_btn {
  cursor: pointer;
}

// CREATE CONTACT FORM
.form_field {
  margin: 10px 0 0;
  width: 100%;
  padding: 5px;
}

.hint {
  margin: 3px 0;
  color: rgb(247, 133, 133);
  font-style: italic;
}

form input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

form input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

// .ng-valid .btn {
//   background-color: rgb(211, 250, 178);
//   box-shadow: 0 1px 4px rgb(201, 255, 239);
//   color: black;
// }

// BUTTONS STYLING
.btn {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgb(0, 123, 255);
  background-color: rgb(0, 123, 255);
  color: #ecf0f1;
  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: rgb(0, 113, 235);
  color: #ecf0f1;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 5px 25px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
