<!-- <div class="card">
  <div class="card-body controller_container"> -->
    
    <div class="search_container">
      <div>
        <p class="label_search">Search for a contact</p>
        <input
          class="input_query"
          type="text"
          placeholder="Type a query..."
          ng-model="query"
        />
      </div>

      <div class="checkbox_container">
        <input
          class="checkbox"
          type="checkbox"
          ng-model="checked"
          ng-click="handleShow()"
        />
        <div>
          Show phone numbers
        </div>
      </div>
    </div>

    <!-- <create-contact> is nested in filterContacts directive -->
    <!-- <create-contact
      nameNew="nameNew"
      phoneNew="phoneNew"
      addContact="addContact">
    </create-contact> -->

    <!-- </div>
  </div> -->
