$heighNavFooter: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $heighNavFooter;
}

.navbar {
  height: $heighNavFooter;
}

main {
  padding: 20px 0;
}

.phonebook_container {
  margin: 0 auto;
}

.input_query {
  width: 300px;
}

.checkbox_container {
  margin-top: 10px;
  display: flex;
  align-items: baseline;

  input {
    display: inline-block;
    margin-right: 10px;
  }
}

.table_container {
  margin-top: 20px;
  height: 65vh;
  overflow-y: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $heighNavFooter;
  line-height: $heighNavFooter;
}

.blue_field {
  background-color: rgb(224, 249, 255);
}

.red_field {
  background-color: rgb(255, 230, 230);
}